.profile-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #30ab42;
}
.profile-body{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border:2px solid #ffba03;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.profile-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.profile-details p{
    font-size: 18px;
    font-weight: 500;
}
.profile-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.profile-footer button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ffba03;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color:#fff;
    padding:10px;
}
.profile-footer button:hover{
    transform: scale(.89);
}